@import "_variables";

.box{
	display: block;
	border: 1px solid $box-border;
}

.box + .box {
	margin-top: 10px;
}

.box-header{
	padding: 10px;
	height: 20px;
	line-height: 20px;
	background-color: $box-background;
	border-bottom: 1px solid $box-border;
}

.box-content{
	padding: 10px;
	.btn + .btn {
		margin-left: 8px;
	}
}