$font-base: 13px;
$font-color-base:#444;
$color-outstanding:#C40000;
$color-base: #3591E7;
$color-error:#cc0000;
$content-width: 1200px;

$footer-height: 150px;


//side-toolbar
$side-toolbar-width: 35px;
$side-toolbar-background: #000;
$side-toolbar-color: #fff;

// site-nav
$site-nav-background: #F9F9F9;
$site-nav-height: 30px;

// logo-line
$logo-line-height: 100px;
$site-name-color: #005AA9;
$site-name-font-size: 14px;

// nav
$nav-height: 40px;
$nav-item-width: 150px;
$nav-font-size: 15px;
$nav-background: $color-base;
$nav-background-active: #0A6DC4;
$nav-color: #fff;
$nav-color-active: #fff;

//product-filters
$filter-list-height: 40px;
$filter-item-name-width: 80px;
$filter-item-width: 80px;
$filter-item-background: #e4e4e4;
$filter-list-font-size: $font-base;

$filter-operation-width: 40px;
$filter-operation-height: $filter-list-height/2;
$filter-operations-width: 104px;

//sortord-line
$sortord-line-height: 40px;
$sortord-line-margin-vertical: 10px;
$sortord-line-background: #F4F4F4;

//product-list
$product-view-width: 220px;
$product-view-margin-horization: 22px;


