@import '_variables';
.integral,.exchange-gift,.exchange-coupon {
	.right {

		.integral-details-table{
			margin-bottom: 30px;
		}

		.integral-content {
			padding:0 10px;
			.integral-hd {
				padding:20px 0 10px 0;
				overflow:hidden;
				.cuttent-integral {
					font-weight:bold;
					label {
						color:$color-base;
						font-size:18px;
					}
				}
				.overdue-integral {
					margin-left:20px;
				}
				.search-integral-box {
					float:right;
					text-align:right;
					input {
						width:60px;
						height:22px;
					}
					.search-btn {
						width:50px;
						height:22px;
						line-height:22px;
						margin-left:10px;
						text-align:center;
					}
				}
			}
			.nav {
				margin:10px 0;
				line-height:normal;
				a + a {
					margin-left:20px;
				}
				.exchange-shop {
					float:right;
				}
				button.back-integral-list {
					float:right;
					display:inline-block;
					margin-top:5px;
				}
			}
			.gift-list {
				list-style:none;
				padding:0;
				margin:0 -16px 0 0;
				li {
					float:left;
					display:inline-block;
					width:160px;
					padding:10px;
					margin:10px 16px 10px 0;
					border:#ccc thin solid;
					text-align:center;
					.gift-name {
						margin:5px 0;
						min-height:35px;
					}
					.integral-value {
						margin:0;
						padding:5px;
						text-align:center;
						label {
							color:$color-base;
						}
					}
				}
			}
		}
		
	}

}